:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
}

.flex-rw {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 10px
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    
}

nav {
    display: flex;
}

.nav-items {
    display: none;
}

#icon-menu {
    align-self: center;
}

p {
    font-size: 15px;
}


.container {
    display: grid;
    
}

.main-img {
    
}

.main-heading {
    
}

.main-description {
    line-height: 20pt;
    color: ;
}

button {
    background-color: var(--soft-red);
    color: var(--off-white);
    width: 150px;
    height: 40px;
    letter-spacing: 3px;
}

.new-section {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 20px 20px 5px 20px;
}

.new-section h2 {
    color: var(--soft-orange);
    
}

.new-section h3 {
    padding-bottom: 20px;
    padding-top: 30px;
}

.new-section p {
    padding-bottom: 30px;
}

.one {
    gap: 20px;
}

.two {
    gap: 20px;
}

.three {
    gap: 20px;
}

.num-images {
    width: 100px;
    height: 100px;
}

.sub-description {
    justify-content: space-evenly;
}

.sub-description > p, h2 {
    color: var(--grayish-blue);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}